
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

.logout-form__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  text-align: left;
}